<div>
  <p><%= dgettext "coherence", "Hello %{name}!", name: @name %><p>
  <p>
    <%= dgettext "coherence", "Your new account is almost ready. Click the link below to confirm you new account." %>
  </p>
  <p>
    <a href="<%= @url %>"><%= dgettext "coherence", "Confirm my Account" %></a>
  </p>
  <p><%= dgettext "coherence", "Thank you!" %></p>
</div>

