<div>
  <p>Hello <%= @name %>!<p>
  <p>
    You have been invited to create an Account. Use the link below to create
    an account.
  </p>
  <p>
    <a href="<%= @url %>">Create my Account</a>
  </p>
  <p>Thank you!</p>
</div>

