<div>
  <p><%= dgettext "coherence", "Hello %{name}!", name: @name %><p>
  <p>
    <%= dgettext "coherence", "You have been invited to create an Account. Use the link below to create an account." %>
  </p>
  <p>
    <a href="<%= @url %>"><%= dgettext "coherence", "Create my Account" %></a>
  </p>
  <p><%= dgettext "coherence", "Thank you!" %></p>
</div>

