<br \>

<%= form_for @changeset, invitation_path(@conn, :create), [as: :invitation], fn f  -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>
  <div class="form-group">
    <%= required_label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control", required: "" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= required_label f, :email, class: "control-label" %>
    <%= text_input f, :email, class: "form-control", required: "" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= submit "Send Invitation", class: "btn btn-primary" %>
    <%= link "Cancel", to: Coherence.Config.logged_out_url("/"), class: "btn" %>
  </div>
<% end %>
