<div>
  <p><%= gettext("Hello") %> <%%= @name %>!<p>
  <p>
    <%= gettext "Your new account is almost ready. Click the link below to confirm you new account." %>
  </p>
  <p>
    <a href="<%%= @url %>"><%= gettext "Confirm my Account" %></a>
  </p>
  <p><%= gettext "Thank you!" %></p>
</div>

