<h3><%%= gettext "Register Account" %></h3>

<%%= render "form.html", changeset: @changeset,
                        label: <%= gettext "Register" %>, required: [required: ""],
                        action: registration_path(@conn, :create) %>
